@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title us</h2>

<p>There are many people who are moved to other places because of work, family and school conditions and these people that live in their new places have many problems with their new homes. For instance they may need service of;
    <br />• Plumbing
    <br />• Electrical installation
    <br />• House Painter
    <br />• Cleaner
    <br />• Locksmith
    <br />• Dry Cleaning
    <br />Because of these problems, these moved people are in trouble. They can not easily solve these problems because they have to move to places where they do not know. Thanks to the web site that we will do, people will be able to find the service that they want easily. Those who register with our website will be able to use these services around their address. They can pay by credit card or cash as they do at yemeksepeti.com. They will have a scoring system based on the service that they received and they will score the service providers so that they can decide more easily afterwards. There will also be a variety of awarding systems that are relevant to the frequency of use.</p>
