@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title us</h2>

<address>
    Ted University<br />
    Ankara, Turkey<br />
    <abbr title="Phone">P:</abbr>
    01234567890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:admin@servicebasket.com">admin@servicebasket.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@servicebasket.com">Marketing@servicebasket.com</a>
</address>