.vs
ServiceBasket/obj/Debug/ServiceBasket.dll
ServiceBasket/obj/Debug/ServiceBasket.dll
*.dll
ServiceBasket/Database.sqlite
*.dll
ServiceBasket/bin/ServiceBasket.dll
ServiceBasket/bin/ServiceBasket.pdb
