
@{
    ViewBag.Title = "Login";
}

<h2>Login Page</h2>

<form method="post" action="~/Authentication/Login">
<label>
    User Name:
    <input type="text" name="UserId" value="@Model.UserId" required/>
</label>
<br />
<label>
    Password:
    <input type="password" name="Password" value="@Model.Password" required/>
</label>
<br />
<input type="submit" name="send" value="Login" />
</form>
<p style="color:red">@TempData["loginMessage"]</p>