
@{
    ViewBag.Title = "UserList";
}
<h2>UserList</h2>



    
<MyObject>
    
    <table>

        <tr>
            <th>UserId</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.UserId</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                @if (@item.IsActive)
                {
                    <td> Active </td>
                }
                else
                {
                   <td>Inactive</td>
                }

            </tr>
        }
    </table>
    