
@{
    ViewBag.Title = "Index";
}


<h2>@Html.ActionLink("Click here to Add a Service", "AddService", "Service")</h2>
<br />
<h2>@Html.ActionLink("Click here to List all Services", "ServiceList", "Service")</h2>

