
@{
    ViewBag.Title = "ServiceList";
}

<h2>ServiceList</h2>

@model List<ServiceBasket.Models.Entity.Service>

<MyObject>
    <table style="width:100%">


        @foreach (var item in Model)
        {
            
            <tr>
                <th>@Html.ActionLink(item.Title, "ServiceDetail", new { title = item.Title })</th>
            </tr>
        }
    </table>
